.hero {
  padding-bottom: 3rem;
  height: 100vh;
}

.hero-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  font-size: 2.5rem;
  line-height: 1.5;
  letter-spacing: 0.0625rem;
  user-select: none;
}

.hero-greeting {
  font-size: 1.125rem;
}

.hero-description {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0;
}

.hero-description a {
  text-decoration: none;
  color: #5526fa;
}

.hero-name {
  color: #5526fa;
  font-size: 3.75rem;
  font-weight: 600;
  margin-left: -0.1875rem;
}

.hero-image {
  height: 23.75rem;
}

@media only screen and (max-width: 87.5rem) {
  .hero-image {
    height: 22.5rem;
  }
}

/* 1320px */
@media only screen and (max-width: 82.5rem) {
  .hero-text {
    margin-right: 25px;
    letter-spacing: 0.05rem;
  }

  .hero-image {
    height: 21.875rem;
    margin-left: 25px;
  }
}

/* 1077px*/
@media only screen and (max-width: 67.3125rem) {
  .hero-top {
    margin-bottom: 1.75rem;
  }

  .hero-image {
    height: 18.75rem;
  }
}

@media only screen and (max-width: 62.125rem) {
  .hero-name {
    margin-left: 0;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 58.625rem) {
  .hero-name {
    margin-left: 0;
    line-height: 1.2;
  }
}

/* 819px */
@media only screen and (max-width: 51.1875rem) {
  .hero-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-text {
    margin: 0;
    font-size: 1.125rem;
  }

  .hero-name {
    font-size: 1.25rem;
  }

  .hero-image {
    height: 17.5rem;
    margin: 0;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 30rem) {
  .hero-text {
    line-height: 1.3;
  }

  .hero-image {
    height: 15.625rem;
  }
}
