.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skills-header {
}

.skills-container {
}

.skills-section {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem;
}

.skill-type {
  font-size: 1.5rem;
  font-weight: 600;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  justify-content: flex-end;
}

@media only screen and (max-width: 48rem) {
  .skills-list {
    max-width: 100%;
    justify-content: center;
  }

  .skills-section {
    flex-direction: column;
    align-items: center;
  }
}
