.html {
  scroll-behavior: smooth;
}

.home {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

@media only screen and (max-width: 75rem) {
  .home {
    width: 85%;
  }
}

@media only screen and (max-width: 61.25rem) {
  .home {
    width: 90%;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 48rem) {
  .home {
    width: 100%;
    padding: 0;
  }
}
