.separator {
  background-image: linear-gradient(
    to right top,
    #9c51b6,
    #9847c1,
    #913ecd,
    #8635d9,
    #772de7,
    #5555f6,
    #2e70fd,
    #0086ff,
    #00aeff,
    #00ceff,
    #00e9e9,
    #7fffd4
  );
  height: 0.5rem;
  width: 30%;
  border-radius: 0.1875rem;
  margin: 1.25rem 0;
}

@media only screen and (max-width: 100rem) {
  .separator {
    width: 32%;
  }
}

@media only screen and (max-width: 87.5rem) {
  .separator {
    width: 34%;
  }
}

@media only screen and (max-width: 75rem) {
  .separator {
    width: 36%;
  }
}

@media only screen and (max-width: 68.75rem) {
  .separator {
    width: 38%;
  }
}

@media only screen and (max-width: 62.5rem) {
  .separator {
    width: 40%;
  }
}

@media only screen and (max-width: 56.25rem) {
  .separator {
    width: 42%;
  }
}

@media only screen and (max-width: 50rem) {
  .separator {
    width: 44%;
  }
}

@media only screen and (max-width: 43.75rem) {
  .separator {
    width: 46%;
  }
}

@media only screen and (max-width: 37.5rem) {
  .separator {
    width: 48%;
  }
}

@media only screen and (max-width: 31.25rem) {
  .separator {
    width: 50%;
  }
}

@media only screen and (max-width: 30rem) {
  .separator {
    width: 52%;
  }
}
